body {
  font-family: Montserrat;
  text-align: center;
  margin: 0;
}

h1,
h2 {
  font-family: "Montserrat-black", sans-serif;
  font: Montserrat-black;
}

h3 {
  font-family: "Montserrat-bold", sans-serif;
}

.container {
  margin: none;
}

/**********************************************************************/
/*Navbar*/
#navbar {
}

.navbar-custom {
  background-color: #e60026;
}

.navbar-brand {
  color: white;
}

.HashLink {
  color: white;
  margin-left: 3rem;
}
/**********************************************************************/
/*Title Section*/
#title {
  text-align: left;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/*Sections*/
.heading-section {
  /* background-color: #B53737; */
  margin: 0;

  background-image: url("../images/dublin-skyline.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.plain-section {
  background-color: #fff;
}

.row {
  width: 100%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.intro-text {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.title-image {
  width: 45%;
  transform: rotate(20deg);
  position: absolute;
  right: 25%;
}

/*******************************************************************************/
/*Description Section*/

/**************************
/*Company Intro Section*/

#companyIntro {
  background-color: #fff;
  width: 100%;
  position: relative;
  margin-bottom: 0px;
}

#introMessage {
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 900;
}

#features {
  padding: 5% 5%;
  background-color: #fff;
  width: 100%;
  position: relative;
  margin-top: 0px;
}

.icon {
  color: #e60026;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.feature-box {
  float: left;
  padding: 5%;
  background-color: white;
}

.feature-title {
  color: black;
  font-size: 1.5rem;
  padding: 0.3rem 0;
}

/**************************************************************/
/*Info carousel Section*/

#infoCarousel {
  width: 100%;
  padding-bottom: 7rem;
}
.carouselDiv {
  width: 75%;
}

.carouselImage {
  width: 75%;
  height: 650px;
}

#carousel-caption1 {
  color: #e60026;
  font-size: 2.5rem;
  font-weight: 800;
}
#carousel-caption2 {
  color: #e60026;
  font-size: 2.5rem;
  font-weight: 800;
}
.carouselCaptionText {
  color: white;
  font-size: 2rem;
  font-weight: 800;
}
/**************************************************************/
/*partners Section*/
#partnersSection {
  /* border-radius: 5%; */
  background-image: radial-gradient(white, white, whiteSmoke);
}
#partnersDiv {
  max-width: 1200px;
}

#partnersTitle {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}
/****************************************/
/*Features Section*/
.featuresSection {
}
#press {
  padding-bottom: 3%;
  margin-top: 0;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/**************************************************************/
/* Pricing Section */
#pricing {
  padding: 25px;
  margin-top: 3rem;
}

.pricing-header {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}
.goldButton {
  background-color: gold;
}
.platinumButton {
  background-color: platinum;
}

.pricing-column {
  padding: 2% 2%;
}

.planType {
  color: black;
  font-size: 1.5rem;
  padding: 0.3rem 0;
}

/****************************************************************/
/* Cta Section */
#cta {
  padding: 5% 20%;
}
/****************************************************************/
/* Footer Section */
#footer {
  margin-bottom: 1rem;
  padding-bottom: 0;
}
.social-media-icons {
  margin: 0 10px 0px;
}

/************************************************************************/
/*Mobile viewports*/
@media (max-width: 1135px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
  .intro-text {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.5;
  }
}

@media (max-width: 700px) {
  .carouselImage {
    height: 20rem;
  }
}

@media (max-width: 536px) {
  .intro-text {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1;
  }
  #carousel-caption1 {
    font-size: 1.5rem;
  }
  #carousel-caption2 {
    font-size: 1.5rem;
  }
  .carouselCaptionText {
    font-size: 1rem;
  }
}

/* large viewports
@media (min-width: 2150px) {
  .coloured-section {
    /* background-color: #ff4c68; 
    min-height: 1000px;
  }
} */
